# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log

# IDE
.vs/
.idea/
.vscode/

# Secrets & Env
.env
.env.local
secrets.json
